.comment {
  margin-bottom: 70px;
}

.comment_header {
  font-size: 16px;
  margin-bottom: 16px;
  color: #757575;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
}

.comment_author {
  font-weight: bold;
}

.comment_date {
  color: rgba(117, 117, 117, 0.5)
}

.comment_body {
  font-size: 16px;
  color: #555;
  margin-bottom: 8px;
}

.comment_action {
  position: relative;
  overflow: hidden;
  text-align: right;
}

.comment_edit {
  display: inline-block;
  color: #FFF;
  background: #03A9F4;
  padding: 8px 16px;
  text-decoration: none;
  border: none;
  outline: none;
  border-radius: 1000px;
  margin: 0 10px;
}

.comment_delete {
  display: inline-block;
  color: #FFF;
  background: #03A9F4;
  padding: 8px 16px;
  text-decoration: none;
  border: none;
  outline: none;
  margin: 0 10px;
  border-radius: 1000px;
}

.comment_textarea{
  width: 100%;
  margin-bottom: 16px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: normal;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid #ddd;
  outline: none;
  color: #212121;
}

textarea {
  min-height: 200px;
}

