
.container {
  width: 80%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  /*margin-top: 30px;*/
}

.add-container {
  width: 100%;
}

.add {
  width: 80%;
  height: 30px;
  color: white;
  background-color: #03A9F4;
  text-align: center;
  line-height: 30px;
  margin: 50px auto;
}

input {
  border: 1px solid #03A9F4;
  margin-left: 20px;
}

table {
  margin-top: 30px;
}

.td-left {
  text-align: left;
}

.td-right {
  text-align: right;
}
