{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
   },
   "ecmaFeatures": {
    "jsx": true,
    "es6": true,
    "classes": true
   },
}