.form {
  display: block;
  background: #FAFAFA;
  padding: 32px 0;
  border: 1px solid #eee;
  border-radius: 4px;
}

.form-content{
  width: 100%;
  margin: auto;
  font-size: 14px;
}

.form-title{
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #757575;
}

.form-field{
  width: 100%;
  margin-bottom: 12px;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  line-height: normal;
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  outline: none;
  color: #212121;
}

.form-field-large {
  min-height: 120px;
}

.comment-button {
  display: inline-block;
  padding: 6px 10px;
  margin-left: 10px;
  font-size: 14px;
  color: #FFF;
  text-decoration: none;
  border-radius: 4px;
}

.comment-submit-button {
  background: #03A9F4;
}

.comment-cancel-button {
  background: #9a533c;
}
