body {
	margin: 0px;
}

.container {
	text-align: center;
}

form {
  text-align: center;
}

input {
	margin: auto;
	width: 60%;
	height: 2em;
}

textarea {
	margin: auto;
	width: 60%;
	height: 5em;
}
