.wrapper {
  margin: 20px 0;
}

.info-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 6px;
  font-size: 16px;
  color: #757575;
}

.content {
  font-size: 14px;
  color: #888;
  margin-bottom: 16px;
}

.button {
  display: inline-block;
  padding: 8px 16px;
  font-size: 10px;
  color: #FFF;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-button {
  background: #03A9F4;
}

.delete-button {
  background: #454545;
}

.divider {
  border: 0;
  height: 1px;
  background: #ccc;
  width: 250px;
  margin: 32px auto 0;
}
