.header {
  background-size: cover;
}

.content {
  width: 100%;
  max-width: 980px;
  margin: auto;
  padding: 64px 16px;
  overflow: auto;
}

.site-title {
  font-weight: 300;
  font-size: 42px;
  float: left;
}

.site-title a {
  text-decoration: none;
  /*color: #FFF;*/
}

.navigation {
  margin: 1em auto auto auto;
  display: flex;
  justify-content: space-evenly;
}

.link {
  margin: 15px;
}
