.appMain {
  padding: 1rem;
  font-size: 24px;
  display: flex;
  justify-content: space-evenly;
  background: grey;
  height: 100vh;
}

.mainSection {
  background: white;
  margin: 1rem;
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;
  border: black 2px solid;
  border-radius: 1rem;
  padding: 1rem;
  height: 18rem;
}

.sectionHeader {
  border-bottom: black 1px solid;
  font-size: 30px;
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
}

.sectionRow {
  margin: 0.5rem 0;
}

.inputField {
  font-size: 24px;
  text-align: center;
  border-radius: 0.3rem;
}

.inputLabel {
  margin: 0 0.5rem 0 0;
  display: inline;
}

.textInput {
  width: 100px;
}