.container {
  max-width: 980px;
  width: 100%;
  padding: 15px;
  margin: 0 auto;
}

.inputLabel {
  font-weight: bold;
  margin-bottom: 10px;
}

.slideContainer {
  width: 50%; /* Width of the outside container */
}

.slider {
  margin-bottom: 30px !important;
}

.link {
  position: absolute;
  left: 50%;
  top: 30%;
}

/*!* The slider itself *!*/
/*.slider {*/
  /*-webkit-appearance: none;  !* Override default CSS styles *!*/
  /*appearance: none;*/
  /*width: 100%; !* Full-width *!*/
  /*height: 25px; !* Specified height *!*/
  /*background: #d3d3d3; !* Grey background *!*/
  /*outline: none; !* Remove outline *!*/
  /*opacity: 0.7; !* Set transparency (for mouse-over effects on hover) *!*/
  /*-webkit-transition: .2s; !* 0.2 seconds transition on hover *!*/
  /*transition: opacity .2s;*/
/*}*/

/*!* Mouse-over effects *!*/
/*.slider:hover {*/
  /*opacity: 1; !* Fully shown on mouse-over *!*/
/*}*/
