.appMain {
  padding: 1rem;
  font-size: 24px;
  display: flex;
  justify-content: space-evenly;
}

.mainSection {
  margin: 1rem;
  display: inline-flex;
  flex-direction: column;
}

.sectionHeader {
  border-bottom: black 1px solid;
  font-size: 30px;
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
}

.sectionRow {
  margin: 0.5rem 0;
}

.inputField {
  margin: 0 0.5rem;
  font-size: 24px;
  text-align: center;
}

.textInput {
  width: 100px;
}