// Text overflow
// Requires inline-block or block for proper styling
text-overflow(type=ellipsis)
  text-overflow type
  if type == ellipsis
    overflow hidden unless @overflow
    white-space nowrap unless @white-space
